:root{
    --baby_blue:hsl(198,82%,44%,100%);
    --font-family: "Roboto", sans-serif;
}
@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url("fonts/Roboto/Roboto-Bold.ttf") format("opentype");
}
@font-face{
    font-family: 'Roboto';
    font-weight: normal;
    src: url("fonts/Roboto/Roboto-Regular.ttf") format("opentype");
}
@font-face{
    font-family: 'Roboto';
    font-weight: italic;
    src: url("fonts/Roboto/Roboto-Italic.ttf") format("opentype");
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* font-family:; */
}
.container{
    width: 842px;
    height: 595px;
    background-color: gray;
    display: flex;
    background-image: url("images/background.webp");
    font-family: "Roboto";
}
.left {
    width: 341px;
    height: 100%;
}
.rigth{
  margin: 128px 54px 0px; 
}
.image__container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}
.image{
    width: 44px;
    height: 8px;
    border-radius: 10px;
    background-color: var(--baby_blue);

}